---
layout: default
stills:
- assets/img/img25.jpeg
- assets/img/img3.jpeg
- assets/img/img5.jpeg
- assets/img/img11.jpeg
- assets/img/img7.jpeg
- assets/img/img8.jpeg
- assets/img/img14.jpeg
- assets/img/img4.jpeg
- assets/img/img23.jpeg
- assets/img/img6.jpeg
- assets/img/img10.jpeg
- assets/img/img9.jpeg
- assets/img/img12.jpeg
- assets/img/img17.jpeg
- assets/img/img21.jpeg
- assets/img/img24.jpeg
- assets/img/img27.jpeg
- assets/img/img15.jpeg
- assets/img/img26.jpeg
- assets/img/img28.jpeg
- assets/img/img16.jpeg
- assets/img/img30.jpeg
- assets/img/img20.jpeg
- assets/img/img18.jpeg
- assets/img/img19.jpeg
- assets/img/img29.jpeg
- assets/img/img22.webp
- assets/img/img13.jpeg
- assets/img/img31.jpeg
- assets/img/img2.jpeg

---
<div class="logo mobile">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logo-black.svg" alt="logo"></a>
</div>

<div class="separator-mobile my-4"></div>

<div class="languages">
    <h6 class="en">EN</h6>
    <h6 class="pt">PT</h6>
</div>

<div class="d-flex justify-content-between align-items-center m-3 navbar">
    <a href="#sobre" class="nav-title"><h6>SOBRE</h6></a>
    <a href="#detalhes" class="nav-title"><h6>DETALHES</h6></a>
    <div class="logo desktop">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logo-black.svg" alt="logo"></a>
    </div>
    <a href="#contactos" class="nav-title"><h6>CONTACTOS</h6></a>
    <h6>RESERVAS</h6>
</div>

<div class="photo-carousel">
    {% for item in page.stills %}
        <div class="carousel-cell"><img src="{{ site.baseurl }}/{{ item }}"/></div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center mt-3 d-lg-none">
    <p class="button--previous-wrapped">prev</p>
    <p class="mx-4">/</p>
    <p class="button--next-wrapped">next</p>
</div>

<div class="lightbox">
    <div class="btn-close lightbox-close float-end m-3"></div>
    <div id="sobre" class="sobre-menu lightbox-content">
        <h4 class="lugar-title sobre-title underline">O LUGAR</h4>
        <div class="lugar-text sobre-text show">
            {{ site.data.sobre.lugar}}
            <img src="{{site.baseurl}}/{{site.data.sobre.imagens_lugar}}" alt="lugar" class="sobre-img mb-2">
        </div>
        <div class="separator-mobile my-4"></div>
        <h4 class="passado-title sobre-title">PASSADO</h4>
        <div class="passado-text sobre-text">
            {{ site.data.sobre.passado}}
            <div class="double-img">
                {% for img in site.data.sobre.imagens_passado %}
                <img src="{{site.baseurl}}/{{img}}" alt="passado" class="sobre-img-double mb-2">
                {% endfor %}
            </div>
        </div>
        <div class="separator-mobile my-4"></div>
        <h4 class="presente-title sobre-title">PRESENTE</h4>
        <div class="presente-text sobre-text">
            {{ site.data.sobre.presente}}
            <img src="{{site.baseurl}}/{{site.data.sobre.imagens_presente}}" alt="presente" class="sobre-img mb-2">
        </div>
        <div class="separator-mobile my-4"></div>
        <h4 class="futuro-title sobre-title">FUTURO</h4>
        <div class="futuro-text sobre-text">
            {{ site.data.sobre.futuro}}
            <div class="double-img w-100 d-flex flex-wrap">
                {% for img in site.data.sobre.imagens_futuro %}
                <img src="{{site.baseurl}}/{{img}}" alt="futuro" class="futuro-img mb-2">
                {% endfor %}
            </div>
        </div>
        <div class="separator-mobile my-4"></div>
    </div>

    <div id="contactos" class="lightbox-content">
        <div class="d-lg-flex">
            <div class="mx-lg-3 me-lg-5">
                <h6 class="subtitle">LOCALIZAÇÃO</h6>
                <div class="separator"></div>
                <div class="my-3">
                    <a href="https://goo.gl/maps/BV1xzJMeM5bZZnDeA" target="_blank">{{ site.data.contactos.morada }}</a> 
                    <a href="https://goo.gl/maps/BV1xzJMeM5bZZnDeA" target="_blank"><img src="{{ site.baseurl }}/assets/img/map.jpg" alt="map" class="map desktop"></a>
                </div>
            </div>
            <div class="mx-lg-5">
                <h6 class="subtitle">CONTACTOS</h6>
                <div class="separator"></div>
                <div class="my-3">
                    <div>Para questões e reservas entrar em contacto pelas seguintes vias:</div><br>
                    <a href="mailto:{{site.data.contactos.email}}">Email - <u>{{ site.data.contactos.email }}</u></a><br>
                    <a href="tel:{{site.data.contactos.telefone_susana}}">Susana Pimenta - <u>{{ site.data.contactos.telefone_susana }}</u></a><br>
                    <a href="tel:{{site.data.contactos.telefone_cristina}}">Cristina Pimenta - <u>{{ site.data.contactos.telefone_cristina }}</u></a><br><br>
                    <div>Alternativamente, reserve diretamente <u>aqui</u>. Ou encontre-nos no Airbnb.</div>
                </div>
                <h6 class="subtitle mt-lg-5">REDES SOCIAIS</h6>
                <div class="separator"></div>
                <div class="my-3">
                    <a href="https://www.instagram.com/quintavfranca/"><u>Instagram</u></a> / <a href="https://www.facebook.com/quintadevillafranca"><u>Facebook</u></a>
                </div>
            </div>
        </div>
    </div>

<div id="detalhes" class="lightbox-content">
    <div class="d-lg-flex justify-content-between smaller-font">
        <div class="d-flex flex-column mx-3">
            <h6 class="subtitle">Casa de férias no centro da cidade do Peso da Régua</h6>
            <div class="separator"></div>
            <div class="my-3">
                <div class="underline">7 Quartos:</div>
                <div class="ms-2">4 Quartos com Cama de Casal</div>
                <div class="ms-2">2 Quartos com 2 Camas Individuais</div>
                <div class="ms-2">1 Quarto com 1 Cama Individual</div>
                <div>3 Casas-de-Banho</div>
                <div>1 Sala de Estar</div>
                <div>1 Sala de Jantar</div>
            </div>
            <h6 class="subtitle">Geral</h6>
            <div class="separator"></div>
            <div class="my-3">
                {% for item in site.data.detalhes.geral %}
                <div>{{item}}</div>
                {% endfor %}
            </div>   
        </div>
        <div class="d-flex flex-column mx-3">
            <h6 class="subtitle">Exterior</h6>
            <div class="separator"></div>
            <div class="my-3">
                {% for item in  site.data.detalhes.exterior %}
                <div>{{item}}</div>
                {% endfor %}
            </div>
            <h6 class="subtitle">Cozinha</h6>
            <div class="separator"></div>
            <div class="my-3">
                {% for item in site.data.detalhes.cozinha %}
                <div>{{item}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex flex-column mx-3">
            <h6 class="subtitle">Extras</h6>
            <div class="separator"></div>
            <div class="my-3">
                {% for item in site.data.detalhes.extras %}
                <div>{{item}}</div>
                {% endfor %}
                <br>
                <i>*valor extra adicional à reserva</i>
            </div>
            <h6 class="subtitle">Atividades</h6>
            <div class="separator"></div>
            <div class="my-3">
                <div>→ Provas de Vinho</div>
                <div>→ Restaurantes</div>
                <div>→ Aldeias Próximas</div>
                <div>→ <a href="https://douroavela.pt/sobre">Passeios de Barco</a></div>
                <div>→ <a href="https://www.cp.pt/passageiros/en/how-to-travel/For-leisure/Nature-and-Culture/douro-historical-train">Viagem de Comboio</a></div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
$('.nav-title').click(function(e) {
  //Toggle tab link
    $(this).addClass('underline').siblings().removeClass('underline');

  //Toggle target tab
    $($(this).attr('href')).addClass('active').siblings().removeClass('active');

    if (!$('.lightbox').hasClass('open')) $('.lightbox').addClass('open');
});



$('.lightbox-close').click(function(e) {
    $('.lightbox').removeClass('open');
    $('.nav-title').removeClass('underline');
});


$(document).on('click',function(e){
        if(!(($(e.target).closest(".lightbox").length > 0 ) || ($(e.target).closest(".nav-title").length > 0))){
        $(".lightbox").removeClass('open');
        $('.nav-title').removeClass('underline');
    }
});

$('.sobre-title').click(function() {
    $(this).next().toggleClass('show');
    $(this).next().siblings().removeClass('show');
    $(this).addClass('underline').siblings().removeClass('underline');
});

$('.photo-carousel').flickity({
    // options
    pageDots: false,
    wrapAround: true,
    prevNextButtons: true,
    imagesLoaded: true,
    arrowShape: { 
        x0: 10,
        x1: 60, y1: 50,
        x2: 60, y2: 40,
        x3: 20
    },
});
var $carousel = $('.photo-carousel').flickity();

$('.button--next-wrapped').on( 'click', function() {
    $carousel.flickity( 'next', true );
});
$('.button--previous-wrapped').on( 'click', function() {
    $carousel.flickity( 'previous', true );
});

const key='5ZFReRqYTI9IcHosddlG';
const map = new maplibregl.Map({
    container: 'map', // container id
    style: `https://api.maptiler.com/maps/streets/style.json?key=${key}`, // style URL
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 9 // starting zoom
});
</script>
