.logo
    max-width: 55%
    margin: 1em auto
    

.languages
    position: absolute
    top: 40px
    right: 15px
    display: flex
    flex-direction: column

.en 
    padding-bottom: 8px
    border-bottom: solid 1px black

.separator
    border-bottom: 1px solid black